<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	  <% if Rails.env.staging?%>
		  <div><h3>[This is a test email from the 5CBookExchange!]</h3></div>
		<%end%>
    <h3><%= @buyer_name %>, you requested a book on the 5C Book Exchange!</h3>
    <p>
      You requested <i><%=@transaction.listing.book.title%></i> from <%=@seller.name%> for $<%=@transaction.listing.price_dollars%>.<%=@transaction.listing.price_cents%>! You can contact <%= @seller.name.split(' ')[0] %> at <%=@seller.email%> to set up a time and place to buy the book. It's your responsibility to contact <%= @seller.name.split(' ')[0] %> to get the transaction going!<br>
    </p>
    <p>To buy and sell more textbooks, or to check the status of your books, go to the <a href="<%= @url %>">5C Book Exchange</a> and log in using your 5C email address.<br/> 
    </p>
    <p>Thanks for using the 5C Book Exchange!</p>
  </body>
</html>