<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	  <% if Rails.env.staging?%>
		  <div><h3>[This is a test email from the 5CBookExchange!]</h3></div>
		<%end%>
    <h3><%= @seller.name %>, a book you listed has been sold!</h3>
    <p>
      This is just a notice that you have confirmed that <i><%=@transaction.listing.title%></i> was sold to <%=@buyer_name%> for $<%=@transaction.listing.price_dollars%>.<%=@transaction.listing.price_cents%>. Congratulations on selling your book, and thanks for using the <a href="<%= @url %>">5C Book Exchange</a>!</br>
    </p>
    <p>To buy and sell more textbooks, or to check the status of your books, go to the <a href="<%= @url %>">5C Book Exchange</a> and log in using your 5C email address.<br/> 
    </p>
    <p>Thanks for using the 5C Book Exchange!</p>
  </body>
</html>