<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3><%= @buyer_name %>, you bought a book on the 5C Book Exchange!</h3>
    <p>
      This is just a notice that <%= @seller.name %> has confirmed that you purchased <i><%=@transaction.listing.title%></i> for $<%=@transaction.listing.price_dollars%>.<%=@transaction.listing.price_cents%>. Enjoy your book, and thanks for using <a href="<%= @url %>">the 5C Book Exchange</a>.</br>
    </p>
    <p>To buy and sell more textbooks, or to check the status of your books, go to <a href="<%= @url %>">the 5C Book Exchange</a> and log in using your 5C email address.<br/> 
    </p>
    <p>Thanks for using the 5C Book Exchange, and good luck!</p>
  </body>
</html>