<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3><%= @buyer_name %>, you cancelled a request on the 5C Book Exchange!</h3>
    <p>
      We're sorry, sometimes these things just don't work out. Hopefully this was a mutual decision between you and <%= @seller.name %>! Whatever the reason, the request was cancelled, and you no longer have any obligation to buy <i><%=@transaction.listing.title%></i> from <%= @seller.name.split(' ')[0] %>. If you still want a copy of <%=@transaction.listing.title%>, you can go to <a href="<%= @url %>">the 5C Book Exchange</a> search for another seller!<br>
    </p>
    <p>To buy and sell more textbooks, or to check the status of your books, go to <a href="<%= @url %>">the 5C Book Exchange</a> and log in using your 5C email address.<br/> 
    </p>
    <p>Thanks for using the 5C Book Exchange, and good luck!</p>
  </body>
</html>