<h2> Search Results </h2>

<% if @course %>
  <% if @matching_courses.empty? %>
    <p> Sorry, no courses matched your search! Please try another query.</p>
  <% else %>
    <% @matching_courses.each do |course| %>
      <h2><%= course.department%><%=course.number%> <%= course.school%>-<%= course.section%>: <%=course.name%> with <%= course.prof %>:</h2>
      <% unless course.books.empty? %>
	      <% if course.books.first.title == "Could not find the specified course." %> 
	        <p>Check your school's online course portal for the books for this class.</p>
		     <% elsif course.books.first.title == "No books needed for this class." %> 
		       <p>No course materials are needed for this class! But check with your professor to make sure.</p>
		     <% elsif course.books.first.title == "Materials Not Finalized For This Class." %> 
		       <p>Course materials for this class have not been determined yet. Check with your professor.</p>
		    <% else %>
		      <h3>Required books:</h3>
		      <% course.books.each do |book| %>
		        <h4><i><%= book.title %></i> <%= "by #{book.author}" unless book.author == '' %></h4>
		        <% if book.listings.empty? %>
		          <p>Sorry, no one is selling <%=book.title%> on the 5C Book Exchange. Since the service is new, check back in a few days to see if someone has listed it!</p>
	          <% else %>	
	  	      	<%= render :partial => 'shared/courses_table', :locals => { :header => "People selling this book (Click for more information)", :relation => book.listings } %>
	          <% end %>
	        <% end %>
	      <% end %>
	  <% end %>
    <% end %>
  <% end %>    
<% elsif @keyword.blank? %>
  <%= render :partial => 'shared/listings_table', :locals => { :header => "All Books", :relation => @listings } %>
<% elsif @listings_title.empty? and @listings_author.empty? and @listings_isbn.empty?  %>
  <p> Sorry, no books matched your search! Please try another query.</p>
<% else %>
  <% unless @listings_title.empty? %>
  	<%= render :partial => 'shared/listings_table', :locals => { :header => "Matching Title", :relation => @listings_title } %>
  <% end %>
  <% unless @listings_author.empty? %>
  	<%= render :partial => 'shared/listings_table', :locals => { :header => "Matching Author", :relation => @listings_author } %>
  <% end %>
  <% unless @listings_isbn.empty? %>
  	<%= render :partial => 'shared/listings_table', :locals => { :header => "Matching ISBN", :relation => @listings_isbn } %>
  <% end %>
<% end %>