<h2> Search Results </h2>
<% if @query.nil? # no search terms were entered %>
  <div class="paginate"><%= paginate @listings, :remote => true%></div><br>
  <%= render :partial => 'shared/listings_table', :locals => { :header => "All Books", :relation => @listings } %>
  <div class="paginate"><%= paginate @listings, :remote => true%></div><br>
<% elsif @matching_courses # searching by course %>
  <% if @matching_courses.empty? %>
    <p> Sorry, no courses matched your search! Please try another query.</p>
  <% else %>
    <%= render :partial => 'shared/courses', :locals => { :matching_courses => @matching_courses }%>
  <% end %>
<% elsif @matching_books %>
	<% if @matching_books.empty?  %>
	  <p> Sorry, no books matched your search! Please try another query.</p>
	<% else %>
		<% if session[:remote_pag] == true%>
		  <div class="paginate"><%= paginate @matching_books, :remote => true %></div><br>
		<% else %>
		  <div class="paginate"><%= paginate @matching_books, :remote => false %></div><br>
		<% end %>
    <% @matching_books.each do |book| %>
      <%= render :partial => 'shared/book', :locals => { :book => book }%>
      <br>
	  <% end %>
		<% if session[:remote_pag] == true%>
		  <div class="paginate"><%= paginate @matching_books, :remote => true %></div><br>
		<% else %>
		  <div class="paginate"><%= paginate @matching_books, :remote => false %></div><br>
		<% end %>
	<% end %>
<% end %>