<div id="listing">
	<div id="top">
		<% if from_search? %>
		  <%= link_to "back to search results", listings_path %>
	  <% else %>
    	<%= link_to "back to my books", @current_user %>
    <% end %>
	</div>
	<div id="listing-details">
		<h3>Listing Details</h3>
		<p style="line-height: 1.75em">
		Title: <b><%=@listing.title%></b><br>
		Author: <b><%=@listing.author%></b><br>

		Edition: 
		<% if @listing.edition == '' or @listing.edition.nil? %>
		  <b><%= 'Not Provided' %></b>
		<% else %>
		  <b><%=@listing.edition%></b>
		<% end %><br>

		Condition:
		<% if @listing.condition == '--Condition--' %>
		  <b><%= 'Not Provided' %></b>
		<% else %>
		  <b><%=@listing.condition%></b>
		<% end %><br>

		Description: 
		<% if @listing.description == '' %>
		  <b><%= 'Not Provided' %></b>
		<% else %>
		  <b><%=@listing.description%></b>
		<% end %><br>

		Price: <b>$<%=@listing.price_dollars%>.<%=@listing.price_cents%></b>
		
		<br><br><br>
		</p>
	</div>
	<div id="seller-details">
		<h3>Seller Details</h3>
		<p style="line-height: 1.75em">Name: <b><%=@listing.user.name%></b><br>
		Email Address: <b><%=@listing.user.email%></b><br>
		<br>-------------------------------------------------------------<br>
		<% if signed_in? and @listing.user.id == @current_user.id %>	
		  <% if @listing.transaction.status == 'available'%>
				<br>
					<div class="clear centered">
					<%= render :partial => "shared/fancy_button", :locals => { :button_id => @listing.id, :button_class => 'goto-edit-listing-button enabled', :text => "Edit Listing!"} %>
					<%= link_to "Delete Listing!", @listing, :id => @listing.id, :class => "fancy_button enabled red", :method => :delete, :confirm => "Are you sure you want to delete #{@listing.title}?", :title => "Delete #{@listing.title}" %></div>
				<% else %>
				<br>
					<div class="clear centered">
					<p><%=@listing.transaction.buyer_name%> wants to buy this book, so you can't modify the listing!</p>
					<%= render :partial => "shared/fancy_button", :locals => { :button_id => @listing.id, :button_class => 'goto-edit-listing-button disabled', :text => "Edit Listing!"} %>
					<%= render :partial => "shared/fancy_button", :locals => { :button_id => "delete-listing-button", :button_class => 'red disabled', :text => "Delete Listing!"} %></div>
				<% end %>
	
		<% else%>
			<p class="centered">Click 'Tell me more!' for information on how to purchase this book.<br><br>
			<%= render :partial => "shared/fancy_button", :locals => { :button_id => "tell-me-more", :button_class => 'enabled', :text => "Tell me more!"} %>
		<% end %>
		</p>
	</div>
  <div class="clear"></div>
</div>

<div id="new-transaction">
	<div id="top">
		  <%= link_to "back to listing details", '#', :id => "back-to-listing-details" %>
	</div>
	<div id='transaction-form'>		
	<h3>Transaction Details</h3>
	<%= form_tag :transactions_request_book, :method => 'get', :id => 'request-book-form' do %>
	  <%= hidden_field_tag :id, nil, :value => @transaction.id %>
	  <% if signed_in? %>
		  <div class="field hidden">
			  <%= text_field_tag :buyer_email, nil, :value => @current_user.email %>
			</div>
			<div class="field hidden">
			  <%= text_field_tag :buyer_name, nil, :value => @current_user.name %>
			</div>
		<% else %>
		<div class="sell-form-divider static">
		  <div class="field">
		    <%= text_field_tag :buyer_email, nil, :placeholder => 'Email Address'%>
		  </div>
		  <div class="field">
		    <%= text_field_tag :buyer_name, nil, :placeholder => 'Full Name'%>
		  </div>
		</div>
		<div class="sell-form-divider static">
	    <div class="form-message static"><p>Email Address</p></div>
		  <div class="form-message static"><p>Name</p></div>
		</div>
		
		<% end %>
	<% end %>
	<br>
	<br>
	<p class="clear centered">Do you want to buy <b><%= @listing.title%></b> from <b><%= @listing.user.name %></b> for <b>$<%= @listing.price_dollars%>.<%=@listing.price_cents%></b>?</p>
	<p class="centered">Note: Clicking 'Buy this Book!' will remove this listing from the search engine, and send an email to you and to the seller so you can work out a time to meet. This is not a binding contract, and either party can cancel the deal at any time. If the deal gets cancelled, the listing will be reposted. If the deal goes through, it is up to the seller to mark the transaction as final. Thanks for reading!<br><br>
	<%= render :partial => "shared/fancy_button", :locals => { :button_id => "buy-this-book", :button_class => 'enabled', :text => "Buy this Book!"} %>
	</p>
  </div>
  <div class="clear"></div>
<div>





