<h2>Sign Up</h2>
<div id="sign-up">
	<%= form_for @user do |f| %>
		  <div class="sell-form-divider">
			  <div class="field">
			    <%= f.text_field :email, :placeholder => "Email Address" %>
			  </div>
			  <div class="field">
			    <%= f.text_field :name, :placeholder => "Full Name" %>
			  </div>
			  <div class="field">
			    <%= f.password_field :password, :placeholder => "Password" %>
			  </div>
			  <div class="field">
			    <%= f.password_field :password_confirmation, :placeholder => "Retype your password"%>
			  </div>
			</div>
			<div class="sell-form-divider">
		    <div class="form-message static"><p>Email Address</p></div>
			  <div class="form-message static"><p>Full Name</p></div>
			  <div class="form-message static"><p>Password</p></div>
				<div class="form-message static"><p>Password Confirmation</p></div>
			</div>
	  <% end %>
</div>
<br>
<br>
<div class="clear centered" ><%= render :partial => "shared/fancy_button", :locals => { :button_id => "sign-up-button", :button_class => 'enabled', :text => "Sign up!"} %></div>

