<div id="user">
	<div id="current-listings">
		<h1>My Current Listings</h1>
		<table id="current-listings-table">
		  <thead>
			  <tr>
				  <th>Title</th>
				  <th>Author</th>
				  <th>Price</th>
			  </tr>
			</thead>
		  <% @listings.each do |listing|%>
		    <tr id="<%= listing.id %>">
			    <td><%= listing.title %></td>
		    	<td> <%= listing.author %></td>
		      <td> $<%= listing.price_dollars %>.<%= listing.price_cents %></td>
		    </tr>
	  	<% end %>
	  </table>
	</div>
	
	<div id="pending-transactions">
	  <h1>Pending Transactions</h1>
	
	</div>
</div>