<div id="user">
	<div id="current-listings">
		<h2>My Listings</h2>
		<br>
		<% if @listings.empty? %>
		  <p class="centered">You aren't currently listing any books!</p>
		<% else %>
			<table id="current-listings-table">
			  <thead>
				  <tr>
					  <th>Title</th>
					  <th>Author</th>
					  <th>Price</th>
				  </tr>
				</thead>
			  <% @listings.each do |listing|%>
			    <% if listing.transaction.status != 'sold' %>
				    <tr id="<%= listing.id %>">
				    <td><%= listing.title %></td>
			    	<td> <%= listing.author %></td>
			      <td style="text-align: right;">
		          $<%=listing.price_dollars %>.<%= listing.price_cents %>
		        </td>
			    </tr>
				  <% end %>
		  	<% end %>
		  <% end %>
	  </table>
		<div id="current-requests">
			<br>
			<h2>My Requests</h2>
				<% if @requests.empty? %>
				  <p class="centered">You aren't currently requesting any books!</p>
				<% else %>	
				  <% @requests.each do |r| %>
				    <% listing = nil %>
				    <% r.book.listings.each do |l|%>
				      <% if l.transaction.status == 'available'%>  
				        <% listing = l %>
				        <% break %>
				      <% end %>
				    <% end %>
					  <% if r.status == 'available'%>
				      <div class="request-bubble request-available" id="<%=r.id%>-<%=listing.id%>">
				        <div class='centered'> A copy of <b><%= r.book.title %></b> is available! Click for more information!</div>
				      <% else%>
				      <div class="request-bubble request-unavailable" id="<%=r.id%>">
				        <div class='centered'>You have requested <b><%= r.book.title %></b>, but no copies are currently available. We'll send you an email as soon as one shows up!</div>
				      <% end %>
				    </div>
			     	<div class='delete-request'><a id="delete-<%=r.id%>"><b>X</b></a></div>
				  <% end %>
	      <% end %>
	    <%= form_tag :delete_requests, :id => 'delete-request-form', :remote => true do %>
        <%= hidden_field_tag :id, nil %>
      <% end %>
	  </div>
	</div>


	<div id="pending-transactions">
	  <h2>Pending Transactions</h2>
	  <p><b>You're the buyer:</b></p>
	   <% if @buyer_transactions.empty? %>
	     <p class="centered">You haven't offered to buy anyone's books yet!</p>
     <% else %>	
	     <% @buyer_transactions.each do |t| %>
         <div class="buyer-transaction" id="<%=t.id%>">
	         <p class='centered'>You want to buy <b><%= t.listing.title %></b> from <b><%= t.listing.user.name%></b> for <b>$<%= t.listing.price_dollars %>.<%= t.listing.price_cents %>.</b></p>
	       </div>
	     <% end %>
    <% end %>
	  <br>
	  <p><b>You're the seller:</b></p>
	   <% if @seller_transactions.empty? %>
	     <p class="centered">No one has offered to buy one of your books yet!</p>
     <% else %>
	   	<% @seller_transactions.each do |t| %>
		     <div class="seller-transaction" id="<%=t.id%>">
	         <p class="centered"><b><%=t.buyer_name%></b> wants to buy <b><%= t.listing.title %></b> for      <b>$<%= t.listing.price_dollars %>.<%= t.listing.price_cents %>.</b></p>
	       </div>
	     <% end %>
	   <% end %>
	  <h2>History</h2>
	  <p><b>You bought:</b></p>
	   <% if @buyer_transactions_final.empty? %>
	     <p class="centered">You haven't bought any books yet!</p>
     <% else %>	
	     <% @buyer_transactions_final.each do |t| %>
         <div class="buyer-transaction-complete" id="<%=t.id%>">
	         <p class='centered'>You bought <b><%= t.listing.title %></b> from <b><%= t.listing.user.name%></b> for <b>$<%= t.listing.price_dollars %>.<%= t.listing.price_cents %></b> on <b><%=t.sell_date%></b>.</p>
	       </div>
	     <% end %>
    <% end %>
	  <br>
	  <p><b>You sold:</b></p>
	   <% if @seller_transactions_final.empty? %>
	     <p class="centered">You haven't sold any books yet!</p>
     <% else %>
	   	<% @seller_transactions_final.each do |t| %>
		     <div class="seller-transaction-complete" id="<%=t.id%>">
	         <p class="centered"><b><%=t.buyer_name%></b> bought <b><%= t.listing.title %></b> for <b>$<%= t.listing.price_dollars %>.<%= t.listing.price_cents %></b> on <b><%=t.sell_date%></b>.</p>
	       </div>
	     <% end %>
	   <% end %>
	</div>
  <div class="clear"></div>
</div>