<div id="user">
	<div id="current-listings">
		<h1>My Current Listings</h1>
		<br>
		<table id="current-listings-table">
		  <thead>
			  <tr>
				  <th>Title</th>
				  <th>Author</th>
				  <th>Price</th>
			  </tr>
			</thead>
		  <% @listings.each do |listing|%>
		    <% if listing.transaction.status != 'sold' %>
		      <% if listing.transaction.status == 'unavailable' %>
		   	 		<tr id="unavailable">
		      <% else %>
			      <tr id="<%= listing.id %>">
			    <% end %>
			    <td><%= listing.title %></td>
		    	<td> <%= listing.author %></td>
		      <td> $<%= listing.price_dollars %>.<%= listing.price_cents %></td>
		    </tr>
			  <% end %>
	  	<% end %>
	  </table>
	</div>

	<div id="pending-transactions">
	  <h1>Pending Transactions</h1>
	  <p><b>You're the buyer:</b></p>
	   <% if @buyer_transactions.empty? %>
	     <p class="centered">You haven't offered to buy anyone's books yet!</p>
     <% else %>	
	     <% @buyer_transactions.each do |t| %>
         <div class="buyer-transaction" id="<%=t.id%>">
	         <p class='centered'>You want to buy <b><%= t.listing.title %></b> from <b><%= t.listing.user.name%></b> for <b>$<%=t.listing.price_dollars%>.<%=t.listing.price_cents%></b>.</p>
	       </div>
	     <% end %>
    <% end %>
	  <br>
	  <p><b>You're the seller:</b></p>
	   <% if @seller_transactions.empty? %>
	     <p class="centered">No one has offered to buy one of your books yet!</p>
     <% else %>
	   	<% @seller_transactions.each do |t| %>
		     <div class="seller-transaction" id="<%=t.id%>">
	         <p class="centered"><b><%=t.buyer_name%></b> wants to buy <b><%= t.listing.title %></b> for <b>$<%=t.listing.price_dollars%>.<%=t.listing.price_cents%></b>.</p>
	       </div>
	     <% end %>
	   <% end %>
	  <h1>History</h1>
	  <p><b>You bought:</b></p>
	   <% if @buyer_transactions_final.empty? %>
	     <p class="centered">You haven't bought any books yet!</p>
     <% else %>	
	     <% @buyer_transactions_final.each do |t| %>
         <div class="buyer-transaction-complete" id="<%=t.id%>">
	         <p class='centered'>You bought <b><%= t.listing.title %></b> from <b><%= t.listing.user.name%></b> for <b>$<%=t.listing.price_dollars%>.<%=t.listing.price_cents%></b> on <b><%=t.sell_date%></b>.</p>
	       </div>
	     <% end %>
    <% end %>
	  <br>
	  <p><b>You sold:</b></p>
	   <% if @seller_transactions_final.empty? %>
	     <p class="centered">You haven't sold any books yet!</p>
     <% else %>
	   	<% @seller_transactions_final.each do |t| %>
		     <div class="seller-transaction-complete" id="<%=t.id%>">
	         <p class="centered"><b><%=t.buyer_name%></b> bought <b><%= t.listing.title %></b> for <b>$<%=t.listing.price_dollars%>.<%=t.listing.price_cents%></b> on <b><%=t.sell_date%></b>.</p>
	       </div>
	     <% end %>
	   <% end %>
	</div>
  <div class="clear"></div>
</div>