<h4> <%= header %> </h4>
<table class="listings-search">
  <thead>
	  <tr>
		  <th>Seller Name</th>
		  <th>Seller Email</th>
		  <th>Price</th>
	  </tr>
	</thead>
  <% relation.each do |listing|%>
    <% if listing.transaction.status == 'available'%>
	    <tr id="<%= listing.id %>">
		    <td><%= listing.user.name %></td>
	    	<td> <%= listing.user.email %></td>
	      <td> $<%= listing.price_dollars %>.<%= listing.price_cents %></td>
	    </tr>
    <% end %>
	<% end %>
</table