<h3> <%= header %> </h3>
<table class="listings-search">
  <thead>
	  <tr>
		  <th>Title</th>
		  <th>Author</th>
		  <th>Price</th>
	  </tr>
	</thead>
  <% relation.each do |listing|%>
    <% if listing.transaction.status == 'available'%>
	    <tr id="<%= listing.id %>">
		    <td><%= listing.book.title %></td>
	    	<td> <%= listing.book.author %></td>
	      <td>
          $<%=listing.price_dollars %>.<%= listing.price_cents %>
        </td>
	    </tr>
    <% end %>
	<% end %>
</table>