<%= form_tag listings_path, :id => "search", :method => 'get', :remote => true do %>
  <div class="searchbar" id="searchbar-keywords">
    <%= text_field_tag :search_keywords, params[:search_keywords], :placeholder => "Enter a title, author or ISBN!" %> 
  </div>
  <div class="searchbar hidden" id="searchbar-courses">
    <%= text_field_tag :search_courses, params[:search_courses], :placeholder => "Enter a course or professor!" %> 
</div>
<div id="radios">
	  <div class="field centered">Search by book title, author or ISBN<%= radio_button_tag :search_type, :keywords, true %></div>
	  <div class="field centered"><p>Search by course name or professor<%= radio_button_tag :search_type, :courses, false %>
	</p></div>
</div>
    <%= render :partial => "shared/fancy_button", :locals => { :button_id => "search-button", :button_class => 'enabled', :text => "Search!"} %>
		<p class="centered" style="font-size:8pt;">Or just click 'Search' to see all books!</p>

<% end %>

