<div id="sell-form-signed-in">
	<%= form_for @listing do |f| %>
	  <%= render :partial => "shared/error_messages", :locals => { :object => @listing} %>
	  <div id="sell-form-required">
	    <%= render 'shared/sell_form_required', :l => f %>
			<%= render :partial => "shared/fancy_button", :locals => { :button_id => "sell-form-signed-in-required-button", :button_class => 'disabled', :text => "Continue!"} %>
		</div>
		<div id="sell-form-optional">
	    <%= render 'shared/sell_form_optional', :l => f %>
			<%= render :partial => "shared/fancy_button", :locals => { :button_id => "sell-form-signed-in-final-button", :button_class => 'enabled', :text => "Post Your Book!"} %>
		</div>
	<% end %>
</idv>