<div id="sell-form-required-email">
  <%= form_tag :check_email, :id => "check-email-form", :remote => true do %>
	  <div class="sell-form-divider">
			<div class="field"><%= text_field_tag :email_checker, nil, :placeholder => 'Email Address' %></div>	
		  <div class="field"><%= text_field_tag :title_checker, nil, :placeholder => 'Book Title' %></div>
		  <div class="field"><%= text_field_tag :author_checker, nil, :placeholder => "Author(s)" %></div>
			<div class="field">$<%= text_field_tag :price_dollars_checker, nil, :placeholder => 'dollas' %>.<%= text_field_tag :price_cents_checker, nil, :placeholder => 'cents' %></div>
		</div>
		<div class="sell-form-divider">
	    <div class="form-message"><p id="email"></p></div>
		  <div class="form-message"><p id="title"></p></div>
		  <div class="form-message"><p id="author"></p></div>
			<div class="form-message"><p id="price"></p></div>
		</div>
			<a class="fancy_button disabled" id="sell-form-required-button" href="#">
			  <span style="background-color: orange;">Continue</span>
			</a>
  <% end %>
</div>
<div id="sell-form-validated-email">
</div>



