<div class="sell-form-divider">
	<div class="field"><%= l.autocomplete_field :title, '/listings/autocomplete_book_title', :update_elements => {:id => '#id_element', :author => '.book_author', :title => '.book_title', :isbn => '.isbn'}, :value => @autofill_title, :placeholder => 'Book Title', :class => 'book_title' %></div>
	<div class="field"><%= l.text_field :author, :value => @autofill_author, :placeholder => "Author(s)", :class => 'book_author' %></div>
	<div class="field">$<%= l.text_field :price_dollars, :placeholder => 'dollars', :class => 'price_dollars' %><%= l.select( :price_cents, [['.00', '00'],['.25','25'], ['.50','50'], ['.75','75']], :default => '.00') %></div>
</div>
<div class="sell-form-divider">
  <div class="form-message"><p id="title">Enter the title of your book here!</p></div>
  <div class="form-message"><p id="author">Who's the author?</p></div>
	<div class="form-message"><p id="price_dollars">How much are you asking for?</p></div>
</div>
<div class="clear"></div>
<div id="bottom_button">
  <%= render :partial => "shared/fancy_button", :locals => { :button_id => "sell-form-required-button", :button_class => 'disabled', :text => "Continue!"} %>
</div>
<div class="clear"></div>