<%= form_for @listing do |f| %>
  <div id="sell-form-required-hidden">
	  <%= render :partial => "shared/sell_form_required", :locals => { :l => f} %>
	</div>
	<% end %>
	<div id="sell-form-final">
		<div class="sell-form-divider">
			<%= form_tag sessions_path, :id => 'authenticate-form', :remote => true do %>
			<div class="field" style="display:none">
		    <%= text_field_tag :email%>
		  </div>
		  <div class="field">
		    <%= password_field_tag :password, nil, :id => :user_password, :placeholder => "Password" %>
		  </div>
		  <% end %>
	  	<br>
		  <br>
			<div class="form-message">
				<p id="final-message">
					We noticed you already have an account on the 5C Book Exchange! All we need now is your password to sell your book!
				</p>
			</div>
	  </div>
		<div class="sell-form-divider">
		  <div class="form-message"><p id="password-signin"></p></div>
		</div>
		
		<div class="clear"></div>
		<div id="bottom_button">
      <%= render :partial => "shared/fancy_button", :locals => { :button_id => "sell-form-final-signin-button", :button_class => 'disabled', :text => "Post Your Book!"} %>
    </div>
  <div class="clear"></div>