<%= form_for @user do |f| %>
  <%= render :partial => "shared/error_messages", :locals => { :object => @user} %>
  <div id="sell-form-required-hidden">
	  <div class="sell-form-divider">
			<%= f.text_field :email %>
			<%= f.fields_for :listings do |l| %>	
			  <%= render :partial => "shared/sell_form_required", :locals => { :l => l} %>
		</div>
	</div>
	<div id="sell-form-optional">
	  <%= render :partial => "shared/sell_form_optional", :locals => { :l => l} %>
	<%= render :partial => "shared/fancy_button", :locals => { :button_id => "sell-form-optional-button", :button_class => 'enabled', :text => "Continue!"} %>
	</div>
  <% end %>
	<div id="sell-form-final">
		<div class="sell-form-divider">
			<div class="field">
		    <%= f.text_field :name, :placeholder => "Full Name" %>
		  </div>
		  <div class="field">
		    <%= f.password_field :password, :placeholder => "Password" %>
		  </div>
		  <div class="field">
		    <%= f.password_field :password_confirmation, :placeholder => "Confirm your password"%>
		  </div>
			<div class="form-message">
				<p id="final-message">
					Since this is your first time selling on the 5C book exchange, we need this information to set up your account!
				</p>
			</div>
	  </div>
		<div class="sell-form-divider">
	    <div class="form-message"><p id="name"></p></div>
		  <div class="form-message"><p id="password"></p></div>
		  <div class="form-message"><p id="password-confirm"></p></div>
		</div>
		<%= render :partial => "shared/fancy_button", :locals => { :button_id => "sell-form-final-signup-button", :button_class => 'disabled', :text => "Post Your Book!"} %>
	</div>
<% end %>