<div id="new-request">
	<div id="top">
		  <%= link_to "back to search results", listings_path %>
	</div>
	<div id='transaction-form'>		
	<h3>Request Details</h3>
	<%= form_for @request do |f| %>
		<%= f.hidden_field :book_id, :value => @book.id %>
	  <% if signed_in? %>
		<p class="clear centered">Do you want to request <i><%= @book.title%></i> by <%= @book.author%>?</p>
		<p class="centered">Click 'Request this Book', and we will notify you as soon as anyone lists <i><%= @book.title%></i> on the 5C Book Exchange! Also this book will show up the Requested Books page, giving people incentive to list their copy!<br><br>
		<%= render :partial => "shared/fancy_button", :locals => { :button_id => "request-this-book-final", :button_class => 'orange enabled', :text => "Request this Book!"} %>
		</p>
	  </div>
	  <div class="clear"></div>
		<% else %>
		<p class="clear centered">Sign up on Facebook to request <b><%= @book.title%></b> by <b><%= @book.author %></b>!</p>
		<div class="big-fb-button">
		  <%=image_tag '/assets/large-fb-login.png', :class => 'facebook-login-request' %>
		</div>
		</p>
		<% end %>
	<% end %>
	<br>
	<br>

<div>