<header>
  <%= link_to '5C Book Exchange', '/', :class => "header_text" %>

  <nav class="round">
    <ul>
	    <li><%= link_to "Search/Sell Books!", '/' %></li>•
	    <% if signed_in? %>
		    <li><%= link_to "My Books", @current_user %></li>•
	      <li><%= link_to "Sign Out", signout_path %></li>
	    <% else %>
        <li><%= link_to "Sign In", signin_path %></li>•
        <li><%= link_to "Sign Up", signup_path %></li>
      <% end %>
    </ul>
  <% if signed_in? %>
    <p>Signed in as <%=@current_user.name%></p>
  <% end %>
  </nav>
	
</header>
