<header>
  <%= link_to '5C Book Exchange', '/', :class => "header_text" %>

	<% if signed_in? %>
	  <nav class="round" id="header">
      <ul>
	      <li><%= link_to "Search/Sell Books!", '/' %></li>•
		    <li><%= link_to "My Books", @current_user %></li>•
	      <li><%= link_to "Sign Out", signout_path %></li>
	    </ul>
	<% else %>
        <%=link_to( image_tag('/assets/fb-login-button.png'), '/auth/facebook/?display=popup', :id => "fb_login_header") %>
  <% end %>

  <% if signed_in? %>
    <p>Signed in as <%=@current_user.name%></p>
	  <% if @current_user.default_school_id != -1 %>
      <p>You are one of <%= @current_user.schools.find_by_id(@current_user.default_school_id).users.size %> members from the</p><p> <%= @current_user.default_school_name%> network!</p>
    <% end %>
  <% end %>
  </nav>
	
</header>
