<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Duru+Sans' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag 'blueprint/screen', :media => "screen, projection" %>
		<%= stylesheet_link_tag 'blueprint/print', :media => "print" %>
		<%= stylesheet_link_tag 'fancybox/jquery.fancybox-1.3.4' %>
		<!--[if lt IE8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif] -->
    <%= stylesheet_link_tag "application" %>
	  <%= javascript_include_tag "application" %>
	  <meta property="fb:admins" content="1048504295" />
	  <meta property="og:title" content="The 5C Book Exchange">
	  <meta property="og:url" content="http://www.5cbookexchange.com/">
  	<meta property="og:site_name" content="The 5C Book Exchange"/>
    <meta property="og:type" content="website"/>
	  <meta property="og:image" content="<%= request.protocol + request.host_with_port + image_path('book_icon.png')%>" />
	  <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <% if Rails.env.production? %>
			<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-28381592-1']);
		  _gaq.push(['_trackPageview']);
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		  </script>
		<%end%>
  </head>
	<body>
		<% if Rails.env.staging?%>
	  	<br><br>
	  	<br>
		  <div class="top-banner"><h4>This is the Staging Environment!</h4></div>
		<%end%>
		<% if Rails.env.experimental?%>
	  	<br><br>
	  	<br>
		  <div class="top-banner"><h4>This is the Experimental Environment!</h4></div>
		<%end%>
		<noscript>
			<br><br>
			<br>
		  <div class="top-banner"><h4>This website requires Javascript! Please enable Javascript in your browser.</h4></div>
		</noscript>
		<% if Rails.env.production?%>
		  <% if false %>
		  	<a id="inline" href="#greeting"></a>
			  <div id="greeting">
				<h1> Thanks for visiting the 5C Book Exchange!</h1>
				<h3> Given that it's the third week of the semester and most students have probably bought all their textbooks by now, the site has been temporarily disabled. </h3><h3>But thank you all for a successful launch! In a few months, when the Spring semester draws to a close, expect the release of version 2 to be even bigger, with new features and increased focus on marketing!</h3><h3>If you have any questions, comments, or feedback, please send me an email at fivecbookexchange@gmail.com </h3>
				<h3>Until next time :)</h3>
				</div>
			<% end %>
			<div id="fb-root"></div>
		<% end %>
	  <div class="container">
		  <%= render 'layouts/header' %>
		  <% if Rails.env.production? or Rails.env.development? %>
		    <div class="fb-like" data-href="http://www.5cbookexchange.com" data-send="false" data-width="450" data-show-faces="false"></div>
	  	<% end %>
			<section class="round">
				<div class="loading">
					<p>Processing request..</p>
				  <%= image_tag "blue_loading.gif"%>
				</div>
			  <% flash.each do |key, value| %>
	      <div class="flash <%= key %>">
	        <%= value %>
		    </div>
	      <% end %>	
	      <%= yield %>
      </section>
	    <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
