<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Duru+Sans' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag 'blueprint/screen', :media => "screen, projection" %>
		<%= stylesheet_link_tag 'blueprint/print', :media => "print" %>
		<!--[if lt IE8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif] -->
    <%= stylesheet_link_tag "application" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
	<body>
		<% if Rails.env.staging?%>
	  	<br><br>
	  	<br>
		  <div class="top-banner"><h3>This is the Staging Environment!!</h3></div>
		<%end%>
		<noscript>
			<br><br>
			<br>
		  <div class="top-banner"><h3>This website requires Javascript! Please enable Javascript in your browser.</h3></div>
		</noscript>
	
	  <div class="container">
		  <%= render 'layouts/header' %>
	
	
			<section class="round">
				<div class="loading">
					<p>Processing request..</p>
				  <%= image_tag 'blue_loading.gif'%>
				</div>
			  <% flash.each do |key, value| %>
	      <div class="flash <%= key %>">
	        <%= value %>
		    </div>
	      <% end %>	
	      <%= yield %>
      </section>
	    <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
