<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Duru+Sans' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag 'blueprint/screen', :media => "screen, projection" %>
		<%= stylesheet_link_tag 'blueprint/print', :media => "print" %>
		<!--[if lt IE8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif] -->
    <%= stylesheet_link_tag "application" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
	<body>
		<% if Rails.env.staging?%>
		  <div id="staging-banner"><h4>This is the Staging Environment!!</h4></div>
		<%end%>
		<div id="fb-root"></div>
		<script>
		  (function(d, s, id) {
		    var js, fjs = d.getElementsByTagName(s)[0];
		    if (d.getElementById(id)) return;
		    js = d.createElement(s); js.id = id;
		    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=112086768880136";
		    fjs.parentNode.insertBefore(js, fjs);
		  }(document, 'script', 'facebook-jssdk'));
		</script>
	  <div class="container">
		  <%= render 'layouts/header' %>
		  <div class="fb-like" data-href="http://www.5cbookexchange.com" data-send="false" data-width="450" data-show-faces="false"></div>
			<section class="round">
				<div class="loading">
					<p>Processing request..</p>
				  <%= image_tag 'blue_loading.gif'%>
				</div>
			  <% flash.each do |key, value| %>
	      <div class="flash <%= key %>">
	        <%= value %>
		    </div>
	      <% end %>	
	      <%= yield %>
      </section>
	    <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
